*{ 
margin: 0;
padding: 0;
font-family: sans-serif;
}

.hero{
height: 100vh;
background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(background.jpg);
background-position: center;
background-size: cover;
overflow-x: hidden;
position: relative;
}

.nav-bar {
    display: flex;
    padding: 40px 120px;
}

.nav-logo img{
    width: 135px;

}

.nav-links {flex: 1;}
.nav-links ul {margin-left: 50px; display: inline;}
.nav-links ul li{ list-style: none; display: inline-block; padding: 8px 25px;}

.nav-links ul a{ color: white; text-decoration: none; font-size: 18px;}
.nav-links ul li::after{
    content: "";
    width: 0;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: .5s;
}
.nav-links ul li:hover::after{ width: 100%;}



.nav-links .btn {
    float: right;
}


.-fx-image-gal {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	justify-content: center;
}
.-fx-image-gal p{
color: white;
text-align: center;
font-size: 17px;
}

.-fx-gal-item {
	width: 100%;
	margin: 0px;
	padding: 20px;
	overflow: hidden;
}

.-fx-gal-item a {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}

.-fx-gal-image-thumb img {
	width: 100%;
	cursor: pointer;
	transform: scale(1);
	transition: all 0.5s ease;
}

.-fx-gal-image-thumb:hover img {
	cursor: pointer;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
	transform: scale(1.1);
	transition: all 0.5s ease;
}
@media (min-width: 420px) {
	.-fx-image-gal {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.-fx-gal-item {
		width: 50%;
	}
}
@media (min-width: 768px) {
	.-fx-gal-item {
		width: 33.33%;
	}
}



 

.vertical-bar {
height: 100%;
background: #000000;
top: 0;
left: 0;
position: fixed;

}

.search-icon {
    height: 60%;
    width: 80px;
}

.search-icon .fa{
    margin: 45px 23px;
    display: block;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.social-icons {
    height: 32.7%;
    width: 80px;
    background: yellow;
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}

.social-icons .fa {
    margin: 15px 23px;
    display: block;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}


.content a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    margin: 0 10px;
}
.content p{
    text-align: right;
    margin-top: 10px;
}
.nav-bar .fa {
    display: none;
}

.-fx-image-gal {
    opacity: 0;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.9;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 992px){
    .modal-content {
      width: 100%;
    }
  }








  
@media (max-width: 992px){
    .vertical-bar{
        display:none;
    }
    .alert {width: 20%;}
    .banner-title{
        margin: 70px 30px;
    }
    .banner-title h1{
        font-size: 30px;
    }
    .noti {
        width: 100%;
        right: 0;
        bottom: 0;
        position: absolute;
        align-items: center;
    }
    .rezerv {
        position: fixed;
        margin-left: -140px;       
    }
    .rezerv h1{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .nav-bar{
        padding: 10px 30px;
    }
    .fa-bars {
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .nav-bar .fa {
        display: block;
        color: #fff;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links{
        height: 100vh;
        width: 200px;
        background: #000;
        top: 0;
        right: -200px;
        position: absolute;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    .nav-links ul a{
        display: block;
    }
    .nav-links .btn{
        float: none;
        margin-left: 25px;
        margin-top: 10px;
    }
}